<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gittest.calendar.CalendarMapper">

    <insert id="postCalendar" useGeneratedKeys="true" keyProperty="calendarId">
        INSERT INTO calendar
        (user_id, pet_id, title, content, start_date, start_time)
        VALUES
        (#{userId}, #{petId}, #{title}, #{content}, #{startDate}, #{startTime})
    </insert>

    <select id="getCalendarFromUserId">
        SELECT A.calendar_id AS calendarId, A.pet_id AS petId, B.pet_name AS petName, A.title,
                A.content, A.start_date AS startDate, A.start_time AS startTime
        FROM calendar A
        JOIN pet B
        ON A.pet_id = B.pet_id
        WHERE A.user_id = #{userId}
    </select>

    <select id="getCalendarFromPetId">
        SELECT A.calendar_id AS calendarId, A.pet_id AS petId, B.pet_name AS petName,
            B.pet_image AS petImage, A.title, A.content, A.start_date AS startDate, A.start_time AS startTime
        FROM calendar A
        JOIN pet B
        ON A.pet_id = B.pet_id
        WHERE A.pet_id = #{petId}
    </select>

    <update id="updateCalendar">
        UPDATE calendar
        SET
        pet_id = #{petId},
        title = #{title},
        content = #{content},
        start_date = #{startDate},
        start_time = #{startTime}
        WHERE
        calendar_id = #{calendarId}
    </update>

    <delete id ="deleteCalendar">
        DELETE from calendar
        where calendar_id = #{calendarId}
    </delete>

    <select id="getCalendarDetail">
        SELECT A.calendar_id AS calendarId, A.pet_id AS petId, B.pet_name AS petName,
        A.title, A.content, A.start_date AS startDate, A.start_time AS startTime
        FROM calendar A
        JOIN pet B
        ON A.pet_id = B.pet_id
        WHERE calendar_id = #{calendarId};
    </select>
</mapper>
