<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gittest.calendar.CalendarMapper">

    <insert id="postCalendar" useGeneratedKeys="true" keyProperty="calendarId">
        INSERT INTO calendar
        (user_id, pet_id, title, content, start_date, start_time)
        VALUES
        (#{userId}, #{petId}, #{title}, #{content}, #{startDate}, #{startTime})
    </insert>

    <select id="getCalendarFromUserId">
        SELECT
        calendar_id AS calendarId, pet_id AS petId, title, content
        , start_date AS startDate, start_time AS startTime
        FROM
        calendar
        WHERE
        user_id = #{userId}
    </select>

    <select id="getCalendarFromPetId">
        SELECT
        calendar_id AS calendarId, user_id AS userId, title, content
        , start_date AS startDate, start_time AS startTime
        FROM
        calendar
        WHERE
        pet_id = #{petId}
    </select>

    <update id="updateCalendar">
        UPDATE calendar
        SET
        user_id = #{userId},
        pet_id = #{petId},
        title = #{title},
        content = #{content},
        start_date = #{startDate},
        start_time = #{startTime}
        WHERE
        calendar_id = #{calendarId}
    </update>


    <delete id ="deleteCalendar">
        DELETE from calendar
        where calendar_id = #{calendarId}
    </delete>

</mapper>
