<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gittest.todolist.iscompleted.IsCompletedMapper">

    <select id="SelIsCompleted">
        SELECT is_completed AS isCompleted
        FROM todolist
        WHERE list_id = #{listId}
    </select>

    <update id="patchInsIsCompleted">
        UPDATE  todolist
        SET  is_completed = 1
        WHERE list_id = #{listId}
    </update>

    <update id="patchDelIsCompleted">
        UPDATE  todolist
        SET  is_completed = 0
        WHERE list_id = #{listId}
    </update>

    <select id="getIsCompletedList">
        SELECT  list_id AS listId,
                user_id AS userId,
                content,
                is_completed AS isCompleted,
                created_at AS createdAt
        FROM    todolist
        WHERE   is_completed = 1 AND
                user_id = #{userId}
    </select>

    <delete id="deleteIsCompletedList">
        DELETE FROM todolist
        WHERE user_id = #{userId}
        AND is_completed = 1
    </delete>

</mapper>