<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.gittest.mainbanner.MainBannerMapper">

    <insert id="postMainBanner">
        INSERT INTO main_banner
        (image_url)
        VALUES
        (#{imageName})
    </insert>

    <select id="getMainBanner">
        SELECT
        image_id AS imageId, image_url AS imageUrl
        FROM
        main_banner
    </select>


    <delete id ="deleteMainBanner">
        DELETE FROM main_banner
        WHERE image_id = #{imageId}
    </delete>

</mapper>
